

.movieDetailsFooter {
    @media only screen and (min-width: 976px) {
        margin: 0 -32px -24px -32px !important;
        padding: 10px 32px !important;
    }
}

.alert {
    margin-bottom: 24px;
}