
.bookingCard {
    margin-bottom: 20px;
}

.bookingInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

    span {
        font-weight: bold;
    }

    p {
        margin-right: 20px;
        margin-bottom: 0;
    }
}