
.movieContent {
    display: flex;
    align-items: flex-start;
    margin-bottom: 24px;

    img {
        max-width: 100px;
        margin-right: 20px;
    }

    span {
        font-weight: bold;
    }
}