
.bookingForm {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > div:not(:last-child) {
        margin-right: 20px;
    }
}

.fullWidth {
    width: 100%;
}

.hideLabel {
    & > div:first-child {
        visibility: hidden;
    }
}